<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Processing</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Herpes Image Edge Detection and Segmentation</h1>
        <p class="text-center">Upload an image and choose a processing option.</p>

        <form id="upload-form" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="image" class="form-label">Choose an image</label>
                <input class="form-control" type="file" id="image" name="image" required>
            </div>
            <div class="d-flex justify-content-around">
                <button formaction="/detect-edges" formmethod="POST" class="btn btn-primary">Detect Edges</button>
                <button formaction="/analyze-histogram" formmethod="POST" class="btn btn-secondary">Analyze Histogram</button>
                <button formaction="/segment-image" formmethod="POST" class="btn btn-success">Segment Image</button>
            </div>
        </form>

        <div class="mt-5">
            {% if image_url %}
                <h3>Original Image</h3>
                <img src="{{ image_url }}" class="img-fluid" alt="Original Image">
            {% endif %}

            {% if histogram_url %}
                <h3 class="mt-4">Histogram</h3>
                <img src="{{ histogram_url }}" class="img-fluid" alt="Histogram">
            {% endif %}

            {% if grayscale_url %}
                <h3 class="mt-4">Grayscale Image</h3>
                <img src="{{ grayscale_url }}" class="img-fluid" alt="Grayscale Image">
            {% endif %}


            {% if result_url %}
                <h3 class="mt-4">Processed Image</h3>
                <img src="{{ result_url }}" class="img-fluid" alt="Processed Image">
            {% endif %}
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
